h1{
    text-align: center;
    font-size: 45px;
}
h3{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 40px;
}
.love{
    padding-left: 100px;
    font-size: 20px;
}
#loco{
    text-align: center;
    font-size: 40px;
}


div{
    padding-left: 1750px;
}
    

